@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    height: 100%;
    bbackground: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    width: 0;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    position: fixed;

}
.sidebar a{
    text-decoration: none;
    padding: 32px;
    font-size: 25px;
    transition: 0.2s;
    color: #ffffff;
    font-family: Poppins,'sans-serif';
    initial-letter: 2px;
    margin: 10px 0;
    display: block;
}
.sidebar a i{
    margin-right: 10px;
    padding: 10px;
   
}
.sidebar a:hover{
    color: #959da5;
}
.sidebar .closebtn{
    position: absolute;
    top:0;
    height: 10px;
    font-size: 36px;
    margin-left: 200px;
    padding: 10px;
    

}
#main{
    transition: margin-left .5s;

}
#main .nav{
   width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 50px;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
#main .nav .line{
    width: 30px;
    height: 5px;
    margin: 1px 0px;
    background:white;
    border-radius: 1px;
}
#main {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
#main .brand_logo h1{
    margin-right: 30px;
    font-size: 40px;
    font-weight: 500;
    color: #24292e;
    font-family: 'Hurricane', cursive;
    text-transform: lowercase;
}
.part1{
    transition: margin-left .5s;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 80vh;
    margin-left: 30px;
    
}
.part1 h1{
    font-size: 3vw;
  
    font-family: Poppins,'sans-serif';
    text-transform: capitalize;
    background: -webkit-linear-gradient(-80deg,#8E2DE2 0% , rgb(26, 90, 228) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.part1 .part1_icons{
    display: flex;
    font-size: 70px;
    padding: 50px;
    
}
.part1 .part1_icons i{
    margin: 4px 10px;
    background: -webkit-linear-gradient(-80deg,#8E2DE2 0% , rgb(26, 90, 228) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.part1 .part1_icons i:hover{
    filter: grayscale(100%);
}
.part1_left{
    display: flex;
    flex-direction: column;
}
.part1_left .btton button{
    margin-top: 20px;
    width:200px;
    padding: 10px;
    border:none;
    border-radius: 4px;
    font-weight: 500;
    background: #3232E0;
    color: white;   
    font-size: 20px;
    text-transform: capitalize;
    font-family: Poppins,'sans-serif';
    letter-spacing: 1px;

}
.part1_left .btton button:hover{
    box-shadow: 0 2px 8px 0 rgba(25, 89, 209, 0.6);
}
.about{
    margin-top: 100px;
    height: 60vh;
    display: grid;
    place-items: center;
}
.about h1{
    font-size: 3vw;
    color:#3232E0;
    text-transform: capitalize;
    font-family: Poppins,'sans-serif';
}
.about .about_part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    transition: all .5s ease-in-out;
}
.about .about_part .about_img img{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}
.about .about_part .about_text{
    margin-left: 50px;
    padding: 20px;
}
.about .about_part .about_text p{
    font-size: 15px;
    font-family: Poppins ,'sans-serif';
    color: #24292e;
}
.about_text .about_btn{
    display: flex;
    margin: 30px 0px;
}
.about_text .about_btn .btn_groups{
    width: 100px;
    background-color: #fafbfc;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);

}
.about_text .about_btn .btn_groups h3{
    font-family: Poppins ,'sans-serif';
    color:#3232E0; 
    font-size: 20px;
}
.about_text .about_btn .btn_groups .p1{
    font-size: 11px;
    font-family: Poppins,'sans-serif';
}

.btns{
    width: 200px;
    padding: 10px;
    font-family: Poppins ,'sans-serif';
    border-radius: 4px;
    font-weight: 500;
    background: #3232E0;
    color: white;   
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-family: Poppins,'sans-serif';
    letter-spacing: 1px;
}
.btns:hover{
    box-shadow: 0 2px 8px 0 rgba(25, 89, 209, 0.6);
}
.skill{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   height: 80vh;
   
  
}
.skill h1{
    font-size: 3vw;
    text-transform: capitalize;
    font-family: Poppins,'sans-serif';
    letter-spacing: 1px;
    color:#3232E0;
}
.skill .skills_container{
    font-family: Poppins,'sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    
    
   
}
.skill .skills_container #skill1_box,#skill_box1,#skill_box2{
    margin: 0 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
    padding:10px;
    width: 400px;
    border-radius: 4px;
    font-size: 15px; 
    height: 60px;
   
    margin-top: 40px;
    
  
}
.skills_container #skill1_box .skill_up{
    display: flex;
    justify-content: space-evenly;
    place-items: center; 
    color: #3232E0;
    margin-top: 10px;
}
.skills_container #skill1_box .skill_up #close{
    background: white;
    color:#3232E0;
    font-size: 20px;
    border:none;
}
.skills_container #skill1_box #skill1_down{
    display: none;
   

    
}

.skills_container #skill1_down ul li{
    list-style: none;
    padding: 10px;
    
}
.skills_container #skill1_down ul li .list_down{
    display: flex;
    justify-content: center;
    place-items: center;
}

.skills_container #skill1_down ul li .list_down .skill_bar{
    width: 300px;
    height: 10px;
    background-color: #3232E0;
    border-radius: 5px;
    padding: 4px;
    margin-right: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}


/* box2 */

.skills_container #skill_box1 .skill_up1{
    display: flex;
    justify-content: space-evenly;
    place-items: center; 
    color: #3232E0;
  
    margin-top: 10px;
}
.skills_container #skill_box1 .skill_up1 #close1{
    background: white;
    color:#3232E0;
    font-size: 20px;
    border:none;
}
.skills_container #skill_box1 #skill_down1{
    display: none;
   

    
}

.skills_container #skill_down1 ul li{
    list-style: none;
    padding: 10px;
    
}
.skills_container #skill_down1 ul li .list_down1{
    display: flex;
    justify-content: center;
    place-items: center;
    
}

.skills_container #skill_down1 ul li .list_down1 .skill_bar1{
    width: 300px;
    height: 10px;
    background-color: #3232E0;
    border-radius: 5px;
    padding: 4px;
    margin-right: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}
/* box3 */


.skills_container #skill_box2 .skill_up2{
    display: flex;
    justify-content: space-evenly;
    place-items: center; 
    color: #3232E0;
    
    margin-top: 10px;
}
.skills_container #skill_box2 .skill_up2 #close2{
    background: white;
    color:#3232E0;
    
    border:none;
}
.skills_container #skill_box2 #skill_down2{
    display: none;
   

    
}

.skills_container #skill_down2 ul li{
    list-style: none;
    padding: 10px;
    
}
.skills_container #skill_down2 ul li .list_down2{
    display: flex;
    justify-content: center;
    place-items: center;
   
}

.skills_container #skill_down2 ul li .list_down2 .skill_bar2{
    width: 300px;
    height: 10px;
    background-color: #3232E0;
    border-radius: 5px;
    padding: 4px;
    margin-right: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}
.qualitfication{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qualitfication h1{
    color: #3232E0;
    text-align: center;
    font-size: 3vw;
    font-family: Poppins,'sans-serif';
}
.qualitfication .quali_container{
    margin-top: 20px;
}
.qualitfication .card{
    display: grid;
    place-items: center;
    width: 400px;
    padding: 10px;
    
    
}
.qualitfication .card p, h4{
    font-family: Poppins,'sans-serif';
    font-size: 13px;
    color:#24292e;
}
.qualitfication .card h4{
    font-size:16px;
    letter-spacing: 2px;
    color: #3232E0;
}
.qualitfication  .left{
    border-radius: 4px;
    border-right: 2px solid #24292e;
    border-bottom: 2px solid #24292e;
}

.qualitfication  .right{
    border-radius: 4px;
    border-left: 2px solid #24292e;
    border-bottom: 2px solid #24292e;
}


.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.contact h1{
    font-size: 3vw;
    font-family: Poppins,'sans-serif';
    color: #3232E0;
}
.contact_container{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_container .contact_right{
    flex: 400px;
}
.contact_container .contact_left{
    flex: 800px;
}
.contact_right .right{
    display: flex;
    margin: 20px 0;
    
}
.contact_right .right h3{
    font-family: Poppins,sans-serif;
    font-size: 17px;
    color: #24292e;
    
}
.contact_right .right i{
    margin-right: 10px;
    font-size: 20px;
    color: #3232E0;
}
.contact_left{
    display: grid;
    margin-left: 300px;
}
.contact_left input{
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 4px;
    border:1px solid #24292e;
}
.contact_left input[type="submit"]{
    border: none;
    background-color: #3232E0;
    color: white;
    border-radius: 4px;
}
.contact_left textarea{
    width: 300px;
    height: 50px;
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 4px;
    border:1px solid #24292e;
}

.contact_left input:focus{
    outline: none;
}
.portfolio {
    height: 60vh;
    margin-top: 80px;
}
.portfolio h1{
    font-size: 3vw;
    text-align: center;
    font-family: Poppins,'sans-serif';
    color: #3232E0;
    
}

.cardcontainer {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;

}

.card {
    width: 700px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 12px;
    display: none;
    transition: all .5s ease-in;
}

.active {
    display: block;

}

.card_holder {
    display: flex;
    border-radius: 4px;
}

.card_holder .card_left img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.card_holder .card_right {
    padding: 10px;
}

.card_holder .card_right h2 {
   font-family: Poppins,'sans-serif';
   text-transform: capitalize;
   color: #3232E0;
}

.card_holder .card_right p {
    margin-top: 20px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: Poppins,'sans-serif';
}

.card_holder .card_right button {
    margin-top: 20px;
    background-color: #3232E0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-family: Poppins,'sans-serif';
    width: 200px;
}

.btn_container {
    position: relative;
}

.btn_container button {
    width: 50px;
    font-family: Poppins,'sans-serif';
    font-size: 15px;
    
    height: 50px;
    color: white;
    text-align: center;
    border: none;
    background-color: #3232E0;;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.btn_container button:focus{
    outline: none;
}

.btn_container .btn1 {
    position: absolute;
    bottom: 180px;
    left: 75%;

}
.btn_container .btn2{
    position: absolute;
    right:75%;
    bottom: 180px;
}
footer{
    margin-top: 10px;
    background-color: #3232E0;
    display: flex;
    justify-content: space-between;
    height: 30vh;
    color: white;
}
footer .fot1 h1{
    margin-left: 30px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Hurricane', cursive;
    text-transform: lowercase;
  
}
footer .fot2{
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
}
footer .fot2 i{
    margin: 0px 20px;
    font-size: 30px;
    height: 10px;
}
footer .fot2 i:hover{
   transform: scale(0.9);
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}